@using RedmondTradeWork.Models.Entity;
@model List<TblAboutUs>

<section id="about-2" class="about-2 section light-background">
    @foreach (var x in Model)
    {
    <div class="container">
        <div class="content">
            <div class="row justify-content-center">
                <div class="col-sm-12 col-md-5 col-lg-4 col-xl-4 order-lg-2 offset-xl-1 mb-4">
                    <div class="img-wrap text-center text-md-left" data-aos="fade-up" data-aos-delay="100">
                        <div class="img">
                            <img src="@x.Photo" alt="circle image" class="img-fluid">
                        </div>
                    </div>
                </div>
                
                <div class="offset-md-0 offset-lg-1 col-sm-12 col-md-5 col-lg-5 col-xl-4" data-aos="fade-up">
                    <div class="px-3">
                        <span class="content-subtitle">Misyonumuz</span>
                        <h2 class="content-title text-start">
                           @x.Title
                        </h2>
                        <p class="lead">
                            @x.Description
                        </p>
                        
                        <p>
                            <a href="/Home/About" class="btn btn-outline-warning">About</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    }
</section>
