
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <link href="~/Active/assets/img/Titleİcon.png" rel="icon">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link href="~/Active/assets/css/erorstyle.css" rel="stylesheet" />

    <title>Hata</title>
</head>
<body>
    <h1>404 Error Page </h1>
    <p class="zoom-area"><b>Sayfa</b> Bulunamadı  </p>
    <section class="error-container">
        <span class="four"><span class="screen-reader-text">4</span></span>
        <span class="zero"><span class="screen-reader-text">0</span></span>
        <span class="four"><span class="screen-reader-text">4</span></span>
    </section>
    <div class="link-container">
        <a  href="~/Home/Index" class="more-link">Siteye Geri Dön</a>
    </div>
</body>
</html>
