

<div class="nk-sidebar">
    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">

            <li>
                <a href="/Login/CikisSite/" aria-expanded="false">
                    <i class="icon-action-undo menu-icon"></i><span class="nav-text">Siteye Git</span>
                </a>
            </li>



            <li>
                <a href="/Member/Search/" aria-expanded="false">
                    <i class="mdi mdi-ferry"></i><span class="nav-text">Container</span>
                </a>
            </li>

            @*mdi mdi-magnify*@ <!--arama için bu simge-->



           

            <li>
                <a href="/Login/Cikis" aria-expanded="false">
                    <i class="icon-close"></i><span class="nav-text">Çıkış Yap</span>
                </a>
            </li>

        </ul>
    </div>
</div>

