

<div class="nk-sidebar">
    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">

            <li>
                <a href="/Default/Index/" aria-expanded="false">
                    <i class="icon-action-undo menu-icon"></i><span class="nav-text">Siteye Git</span>
                </a>
            </li>

            <li>
                <a href="/Admin/Index/" aria-expanded="false">
                    <i class="icon-badge"   ></i><span class="nav-text">Welcome</span>
                </a>
            </li>

            <li>
                <a href="/Settings/Index/" aria-expanded="false">
                    <i class="icon-settings"></i><span class="nav-text">Ayarlar</span>
                </a>
            </li>

            <li>
                <a href="/Login/Index" aria-expanded="false">
                    <i class="icon-close"></i><span class="nav-text">Çıkış Yap</span>
                </a>
            </li>

        </ul>
    </div>
</div>
